# Node modules
node_modules

# Bower Components
bower_components

# PHPStorm
.idea

# Source Maps
*.map

# Node will sometimes create a log file on failures
*.log

# Custom local gulp config
gulp-config--custom.yml
