@use "0_tools/globals" as *;

// Defaults for all Headings
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: $font-weight--bold;
  line-height: $line-height--headings;
  margin-bottom: $spacer--small;
  margin-top: 0;
}
