@use "0_tools/globals" as *;

// Definition Lists
dl {
  margin: 0 0 $spacer;
  overflow: hidden;
}

dt {
  font-weight: $font-weight--bold;
}

dd {
  margin-left: 0;
}

dd + dt {
  margin-top: $spacer--small;
}
