@use "0_tools/globals" as *;

html {
  // This font size is what the rest of the fonts in the site using REM will be
  // based off of. Changing this size will change it throughout the site.
  @include fluid-type($media-small, $media-huge, $font-size--small, $font-size--large);
}

body {
  color: $font-color;
  font-family: $font-family;
  font-size: 1rem;
  line-height: $line-height;
}
