@use "0_tools/globals" as *;

// Text-Related Elements

p {
  margin-bottom: $spacer;
  margin-top: 0;
}

strong {
  font-weight: $font-weight--bold;
}

// Blockquote
blockquote {
  border-left: 5px solid $brand--primary;
  font-size: 1.125rem;
  padding-left: $spacer--large;
}

// Horizontal Rule
hr {
  border: 0;
  border-top: 1px solid $hr-border;
  display: block;
  height: 1px;
  margin: $spacer--large 0;
  padding: 0;
}

abbr {
  border-bottom: 1px dotted $gray;
  cursor: help;
}
