@use "0_tools/globals" as *;

// Align Right
@mixin u-align--right() {
  margin-bottom: $spacer;

  @include breakpoint($bp-narrow--up) {
    float: right !important;
    margin-left: $spacer;
  }
}

.u-align--right {
  @include u-align--right();
}

// Align Left
@mixin u-align--left() {
  margin-bottom: $spacer;

  @include breakpoint($bp-narrow--up) {
    float: left !important;
    margin-right: $spacer;
  }
}

.u-align--left {
  @include u-align--left();
}


// Align Center
@mixin u-align--center() {
  margin: 0 auto !important;
  text-align: center !important;

  // Fix figure and figcaptions when aligned center
  figure {
    display: block;

    // Force an immediate child so that it doesn't break stuff in ckeditor
    > img {
      width: auto;
    }
  }

  figcaption {
    display: block;
  }
}

.u-align--center {
  @include u-align--center();
}
